{% extends 'base.html' %}
{% block title %}{{item.title}}{% endblock %}
{% block content %}

    <h6>{{item.title}}</h6>
    <small>author  :    {{item.author.first_name |upper}} {{item.author.last_name |upper}},
        created on {{item.blog_published_date}}</small><br>

    {% if item.author.id == user.id %}
        <a href="{% url 'update_blog' item.pk %}">(edit)</a>
        <a href="{% url 'delete_blog' item.pk %}">(delete)</a>
    {% endif %}
    <hr>
    <br>
    <div class="container">
    {{item.content}}
    </div>
    <br><br>
    <a class="btn btn-dark" href="{% url 'home' %}">back page</a>
    {% if item.author.id == user.id %}
        <a href="{% url 'delete_blog' item.pk %}" class="btn btn-danger">delete</a>
    {% endif %}
    <br><br>
    <hr>
    <br>
    <form action="{% url 'like_post' item.pk %}" method="POST" >
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" name="post_id" value="{{ item.id }}" class="btn btn-danger btn-sm">UNLIKE</button>
            {% else %}
                <button type="submit" name="post_id" value="{{ item.id }}" class="btn btn-primary btn-sm">LIKE</button>
            {% endif %}
        {% else %}
            <a class="nav-link" href="{% url 'login' %}"> Please Login To Like</a>
        {% endif %}
        - {{ total_likes }} Likes
    </form>
    <br><br>
{% endblock %}
