{% extends 'base.html' %}
{% block content %}
<h1>Welcome To Blog World </h1>
<ul>
    {% for item in list_items %}
    <li>
        <a href="{% url 'blog_details' item.pk %}">{{item.title}}</a>- Created by {{item.author.first_name |upper}}
        {{item.author.last_name |upper}} ,<a href="{% url 'category_blog_view' item.category|slugify %}">{{item.category}}</a>, Created on {{item.blog_published_date}}
        {% if user.is_authenticated %}
            {% if item.author.id == user.id %}
                - <a href="{% url 'update_blog' item.pk %}">(edit)</a>
                <a href="{% url 'delete_blog' item.pk %}">(delete)</a>
            {% endif %}
        {% endif %}
        <br>
    </li>
    {% endfor %}
</ul>
{% endblock %}