{% extends 'base.html' %}
{% block title %}Update The Blog{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if item.author.id == user.id %}
        <h4>Edit Your Blog.....</h4>
        <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark" >Edit</button>
            <a class="btn btn-dark" href="{% url 'home' %}">Cancel</a>
        </form>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
        You Have No Permission For This
        </div><br><br>
        <a class="btn btn-dark" aria-current="page" href="{% url 'home' %}">Home</a>
    {% endif %}
{% else %}
    <div class="alert alert-warning" role="alert">
        You Have No Permission For This
    </div><br><br>
    <a class="btn btn-dark" aria-current="page" href="{% url 'home' %}">Home</a>
{% endif %}
{% endblock %}