{% extends 'base.html' %}
{% block title %}Create Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h4>Create Your Profile.....</h4>
    <div class="form-group">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" >Create Profile</button>
        <a class="btn btn-dark" href="{% url 'home' %}">Cancel</a>
    </form>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        You Have No Permission For This Please Login
    </div><br><br>
    <a class="btn btn-dark" aria-current="page" href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}